{% extends 'base.html' %}

{% block title %}Charts{% endblock %}

{% block content %}
    <div class="container">
        <h1>Frequency of Categorical Data</h1>
        <div class="image-center-wrapper">
            <img src="{{ url_for('static', filename='charts/names_histogram.png') }}"
                 alt="Game names histogram">
        </div>
        <div class="image-center-wrapper">
            <img src="{{ url_for('static', filename='charts/platforms_histogram.png') }}"
                 alt="Platforms histogram">
        </div>
        <div class="image-center-wrapper">
            <img src="{{ url_for('static', filename='charts/genres_histogram.png') }}"
                 alt="Genres histogram">
        </div>
        <div class="image-center-wrapper">
            <img src="{{ url_for('static', filename='charts/publishers_histogram.png') }}"
                 alt="Publishers histogram">
        </div>
    </div>
{% endblock %}