{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
    <div class="container">
        <h1>Analysis of Video Game Sales</h1>

        <h4>Overview of the Data</h4>
        <h4>Exploratory and Detailed Data Analysis</h4>
        <h4>Regression and Classification Models for Prediction</h4>
        <h4>Dataset available on Kaggle: <a href="https://www.kaggle.com/code/upadorprofzs/eda-video-game-sales"
                                            target="_blank">Kaggle Dataset</a></h4>
        <h4>Project Repository on GitHub: <a href="https://github.com/kvalge/vg-sales-analysis" target="_blank">GitHub
                                                                                                                Repository</a>
        </h4>
    </div>
{% endblock %}