{% extends 'base.html' %}

{% block title %}Info{% endblock %}

{% block content %}
    <div class="container">
        <h2>Column Description</h2>
        <div>
            <ul>
                <li><strong>Name:</strong> The game's name</li>
                <li><strong>Platform:</strong> Platform of the game's release (i.e. PC, PS4, etc.)</li>
                <li><strong>Year:</strong> Year of the game's release</li>
                <li><strong>Genre:</strong> Genre of the game</li>
                <li><strong>Publisher:</strong> Publisher of the game</li>
                <li><strong>NA_Sales:</strong> Sales in North America (in millions)</li>
                <li><strong>EU_Sales:</strong> Sales in Europe (in millions)</li>
                <li><strong>JP_Sales:</strong> Sales in Japan (in millions)</li>
                <li><strong>Other_Sales:</strong> Sales in the rest of the world (in millions)</li>
                <li><strong>Global_Sales:</strong> Total worldwide sales.</li>
            </ul>
        </div>
        <div>
            <h2>Data info</h2>
            <pre>
            {% for line in info_data %}
                {{ line }}
            {% endfor %}
        </pre>

            <pre>
            {% for line in head_data %}
                {{ line }}
            {% endfor %}
        </pre>

        </div>
    </div>
{% endblock %}