{% extends 'base.html' %}

{% block title %}PDA{% endblock %}

{% block content %}
    <div class="container">
        <h2>Summary</h2>
        <a class="link" href="{{ url_for('info') }}">Info</a>
        <div>
            <p>No of rows: {{ shape_data.rows }}</p>
            <p>No of columns: {{ shape_data.columns }}</p>
        </div>
        <div class="describe-container">
            {% for column, stats in describe_data.items() %}
                <div class="describe-column">
                    <h3>{{ column }}</h3>
                    <ul>
                        {% for stat_name, value in stats.items() %}
                            <li><strong>{{ stat_name }}:</strong> {{ value }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}