{% extends 'base.html' %}

{% block title %}Sales{% endblock %}

{% block content %}
    <div class="container">
        <h2>Sales by Year</h2>
        <div class="image-center-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>NA Sales</th>
                        <th>EU Sales</th>
                        <th>JP Sales</th>
                        <th>Other Sales</th>
                        <th>Global Sales</th>
                        <th>Total Sales</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in sales_data %}
                        <tr>
                            <td>{{ row['Year'] }}</td>
                            <td>{{ row['NA Sales'] }}</td>
                            <td>{{ row['EU Sales'] }}</td>
                            <td>{{ row['JP Sales'] }}</td>
                            <td>{{ row['Other Sales'] }}</td>
                            <td>{{ row['Global Sales'] }}</td>
                            <td>{{ row['Total Games'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            <tfoot>
    <tr style="font-weight: bold;">
        <td>{{ total_row['Year'] }}</td>
        <td>{{ total_row['NA Sales'] }}</td>
        <td>{{ total_row['EU Sales'] }}</td>
        <td>{{ total_row['JP Sales'] }}</td>
        <td>{{ total_row['Other Sales'] }}</td>
        <td>{{ total_row['Global Sales'] }}</td>
        <td>{{ total_row['Total Games'] }}</td>
    </tr>
</tfoot>
            </table>
            <br>
            <img src="{{ url_for('static', filename='charts/sales_by_year.png') }}" alt="Sales by Year">
            <img src="{{ url_for('static', filename='charts/sales_by_publisher.png') }}" alt="Sales by Publisher">
        </div>
    </div>
{% endblock %}